.title{
    font-size: 25px;
    font-weight: bold;
    background-color:#ff1361;
    border-radius: 7px;
    padding: 2px;
    border: none;
}
nav{
    font-size: 20px;
}

.links:hover{
color: #ff1361 !important;
background-color: white !important;
border-radius: 7px;
padding: 3px !important;
transition: 0.5s;
}
.container-fluid{
    padding: 0 10%;
}


.welcome-message {
    text-align: center;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 100%;
    line-height: 2.5;
  }
  .welcome-message h2{
    font-size: 40px;
}
.btn:hover{
    background-color:#ff1361;
    color:white;
    border: 1px solid red;
}

.animate-character
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    /* #231557 0%,
    #44107a 29%, */
    #ff1361 67%,
    #fff800 80%,
    white   100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 12s linear infinite;
  display: inline-block;
      font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.form-container{
  color: white;
  margin: 7% 20%;
}